<!DOCTYPE html>
<html>
<%-include header.ejs%>
<body>
<div class="container">
    <!-- #section:basics/sidebar.layout.minimize -->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right">
    <i>
</div>
    <div class="jumbotron">
        <h1>my first bootstrap page</h1>
        <p>reset window size,then you can see the result !</p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>the first colum</h3>
            <p>not only learn the technology,but also the dream</p>
            <p>the better dream can not conquer the resistant deligent</p>
        </div>
        <div class="col-sm-4">
            <h3>the second colum</h3>
            <p>not only learn the technology,but also the dream</p>
            <p>the better dream can not conquer the resistant deligent</p>
        </div>
        <div class="col-sm-4">
            <h3>the third colum</h3>
            <p>not only learn the technology,but also the dream</p>
            <p>the better dream can not conquer the resistant deligent</p>
        </div>
    </div>
</div>
<%-include footer.ejs%>
</body>
</html>